*{
    margin: 0%;
}


/* não sei usar se tem alguma forma de usar css em conjunto com boosttrep */
/* 
img{
    box-sizing: border-box;
} */

/* body{
    font-size: 14px;
    line-height: 1.8;
} */

.row{
    box-sizing: border-box;
    display: grid;

}

.icon{
    padding-left:2%;
    
}



.nav a:hover {
    color: black;

}
/* .image{
    width: 39%;
    height:auto;
    display: block;
    position: relative;
    z-index:1;
   
} */
